

@{
    ViewData["Title"] = "Home Page";
}
    <div class="jumbotron">
        <h1 class="display-4" style="font-family : Helvetica; font-weight : bold">Welcome to the Gestion PFE</h1>
    </div>
    <div>
        <p style="font-family : Helvetica; font-size-adjust:inherit">This apllication is made by EMI students to facilitate the PFE orgnaization between students, teachers and departments.</p>
    </div>


